body {
    background-color: #000080;
    margin: 0px;
}

h1 {
    font-family: 'Koulen', cursive;
    font-weight: 700;
    color: white;
    font-size: 50px;
    margin: 0px;
}

h2 {
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 24px;
    font-size: 36px;
    margin: 0px;
}

h3 {
    font-family: "Abel", sans-serif;
    font-size: 24px;
}

p {
    font-family: "Abel", sans-serif;
    font-size: 1rem;
    color: white;
}

/* Header styles */
header {
    background-color: #40E0D0BB;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

header nav {
    align-self: baseline;
}

header nav ul {
    display: flex;
    justify-content: flex-start;
    padding-left: 0px;
}

header nav li {
    display: inline-block;
    margin-right: 30px;
}

header nav li a {
    text-decoration: none;
    font-family: "koulen", sans-serif;
    color: white;
    background-color: #000080;
    border-radius: 20px;
    padding: 10px 20px;
}

header nav li a:hover {
    background-color: #FFA500;
}

header nav li a:active {
    color: #40E0D0
}

/* About Me Styles */
#about-me {
    display: grid;
    grid-template-rows: auto auto;
    margin-left: 3rem;
}

#about-me h2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

#about-me-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#about-me p {
    padding: 20px;
    border: solid #FFA500 1px;
    height: fit-content;
    max-width: 45rem;
}

#pro-pic {
    background-image: url('../images/pro_pic.JPG');
    height: 300px;
    width: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

/* Projects Styles */

#projects {
    margin-left: 4rem;
    margin-bottom: 5rem;
}

#projects-container {
    list-style: none;
    background-color: #FFA500;
    padding: 1rem 1rem;
    width: fit-content;
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 1rem;
    border-radius: 2px;
}

#projects-container .project {
    border: solid white 1px;
    padding: 1rem 2rem;
    
}

#projects-container .project-link {
    text-decoration: none;
    color: white;
}

#projects-container .project-link:hover {
    text-decoration: underline;
    color: #000080;
}

#projects-container .project-link:active {
    color: #40E0D0;
}

/* Footer Styles */
footer {
    background-color: #40E0D0BB;
    margin: 0px;
    padding: 20px;
    text-align: right;
}

/* Contact Styles */
#contact {
    border: solid #FFA500 1px;
    width: fit-content;
    margin: 3rem 5rem;
    padding: 1rem 4rem;
}

#contact a {
    text-decoration: none;
    color: white;
}

#contact a:hover {
    color: #FFA500;
    border: solid #FFA500 1px;
}

#contact a:active {
    color: #40E0D0;
    border: solid #40E0D0 1px;
}

